<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.SubjectDao">
    <resultMap id="SubjectMap" type="com.heeexy.example.bean.Subject">
        <id column="id" property="subjectId"></id>
        <result column="subjectname" property="subjectName"></result>
        <result column="createtime" property="createTime"></result>
        <result column="updatetime" property="updateTime"></result>
    </resultMap>

    <insert id="insertSubject">
        insert into subject(subjectname,updatetime) values (#{subject.subjectName},#{subject.updateTime})
    </insert>

    <update id="updateSubject">
        update subject set subjectname = #{subject.subjectName} where id = #{subject.subjectId}
    </update>

    <delete id="deleteSubject">
        delete subject,knowledgepoint from subject left join knowledgepoint on subject.id = knowledgepoint.subjectId
        where subject.id = #{subject.subjectId}
    </delete>

    <select id="getAllSubject" resultMap="SubjectMap">
        select * from
        subject
        where
        1 = 1
        <if test="subject != null">
            <if test="subject.subjectName != null and subject.subjectName != ''">
                and subjectname = #{subject.subjectName}
            </if>
        </if>
    </select>

    <select id="getSubjectIdByName" resultType="java.lang.Integer">
        select id from subject  where subjectname = #{name}
    </select>
</mapper>